<!DOCTYPE html>
{% extends 'sc_app/base_fw.html' %}
{% load static %}

{% block body_block %}
  <div class="position-relative">
    <div class='mt-5 mb-5'>
    <h1>The People</h1>
    </div>
  </div>
  <div class="position-relative">

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">Mohsen Bahrami <span class="text-muted">Postdoctoral Associate</span></h2>
        <p class="lead">Mohsen Bahrami is a postdoctoral associate in the Connection Science group at MIT. His research field is computational social science and he has been working on data driven behavioral analytics to analyze, describe, and predict individual and group behavior using large-scale datasets from various industries. He has conducted academic research and completed industry projects under supervision of Prof. Alex ‘Sandy’ Pentland. He is currently conducting research concerning how human mobility, social interactions, and peer influence can affect health and economic outcomes.</p>
      </div>
      <div class="col-md-5 order-md-1">
        <img src="{% static 'images/Mohsen-Bahrami.GS.jpg' %}" height=500 width=500 alt="">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Miles Tweed <span class="text-muted">Graduate Student</span></h2>
        <p class="lead">Miles is a graduate student in the Data Science program at New College of Florida.  </p>
      </div>
      <div class="col-md-5">
        <img src="{% static 'images/miles-GS.jpg' %}" height=500 width=500 alt="">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">Burçin Bozkaya <span class="text-muted">Faculty Director</span></h2>
        <p class="lead">Dr. Burçin Bozkaya joined New College in August 2019 as the Director of the Graduate Program in Data Science. Previously, Dr. Bozkaya has been a professor of business analytics as well as an Associate Dean, MBA Program Director and Director of Behavioral Analytics & Visualization Lab at Sabanci Business School in Istanbul, Turkey. His research interests include big data analytics; customer behavior analytics and predictive analytics in finance, insurance and telecom; spatio-temporal modeling and analysis; transportation/logistics modeling and optimization; geographic information systems and decision support systems.</p>
        <p class="lead">Dr. Bozkaya has also been a visiting professor at the Media Lab at MIT, analyzing high-dimensional data sets with millions of bank transactions and customer demographics, Syrian refugee call data records, insurance premium contracts and points of interest. Prior to joining academia in 2004, he worked for ESRI, Inc., a leading company specializing in GIS software and applications.</p>
      </div>
      <div class="col-md-5">
        <img src="{% static 'images/burcin-GS.jpg' %}" height=500 width=500 alt="">
      </div>
    </div>
    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Alex 'Sandy' Pentland <span class="text-muted">Faculty Director</span></h2>
        <p class="lead">Professor Alex 'Sandy' Pentland directs MIT Connection Science, an MIT-wide initiative, and previously helped create and direct the MIT Media Lab and the Media Lab Asia in India. He is one of the most-cited  computational scientists in the world, and Forbes recently declared him one of the "7 most powerful data scientists in the world" along with Google founders and the Chief Technical Officer of the United States.  He is on the Board of the UN Foundations' Global Partnership for Sustainable Development Data, co-led the World Economic Forum discussion in Davos that led to the EU privacy regulation GDPR, and was central in forging the transparency and accountability mechanisms in the UN's Sustainable Development Goals.  He has received numerous awards and prizes such as the McKinsey Award from Harvard Business Review, the 40th Anniversary of the Internet from DARPA, and the Brandeis Award for work in privacy.</p>
      </div>
      <div class="col-md-5">
        <img src="{% static 'images/pentland-2014.GS.png' %}" height=500 width=500 alt="">
      </div>
    </div>

    <hr class="featurette-divider">

    <!--  TEMPLATE TO ADD MORE PEOPLE
    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">First Last <span class="text-muted">Title</span></h2>
        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
      <div class="col-md-5">
        <img src="{% static 'images/blank_person.png' %}" height=500 width=500 alt="">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">First Last <span class="text-muted">Title</span></h2>
        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
      <div class="col-md-5 order-md-1">
        <img src="{% static 'images/blank_person.png' %}" height=500 width=500 alt="">
      </div>
    </div>
    -->

    <hr class="featurette-divider">

  </div>
{% endblock %}
